{% extends 'base.html' %}

{% block content %}
<main style="padding-top: 100px;">
    <div class="container">
        <div class="feature-item" style="text-align: center; margin-bottom: 40px;">
            <h2 class="section-title">Профессиональная система управления дисконтами</h2>
            <p class="section-description">Дисконт-программа для создания и управления дисконтами, которая помогает предприятиям эффективно управлять дисконтными программами, повышать лояльность клиентов и увеличивать прибыль.</p>
        </div>

        <!-- Двухколоночный макет для функций -->
        <div class="two-column-grid">
            <div class="feature-item">
                <div class="feature-item-icon">
                    <img src="/static/DiscPro/images/automation-icon.svg" alt="Автоматизация" class="feature-item-icon-img">
                </div>
                <div class="feature-item-content">
                    <h3 class="feature-item-title">Автоматизация процесса</h3>
                    <p class="feature-item-text">Полная автоматизация управления скидками и акциями</p>
                </div>
            </div>

            <div class="feature-item">
                <div class="feature-item-icon">
                    <img src="/static/DiscPro/images/analytics-icon.svg" alt="Аналитика" class="feature-item-icon-img">
                </div>
                <div class="feature-item-content">
                    <h3 class="feature-item-title">Аналитика в реальном времени</h3>
                    <p class="feature-item-text">Отслеживайте эффективность дисконтных программ</p>
                </div>
            </div>

            <div class="feature-item">
                <div class="feature-item-icon">
                    <img src="/static/DiscPro/images/segmentation-icon.svg" alt="Сегментация" class="feature-item-icon-img">
                </div>
                <div class="feature-item-content">
                    <h3 class="feature-item-title">Сегментация клиентов</h3>
                    <p class="feature-item-text">Персонализированные предложения для разных групп</p>
                </div>
            </div>

            <div class="feature-item">
                <div class="feature-item-icon">
                    <img src="/static/DiscPro/images/integration-icon.svg" alt="Интеграция" class="feature-item-icon-img">
                </div>
                <div class="feature-item-content">
                    <h3 class="feature-item-title">Программа интеграции</h3>
                    <p class="feature-item-text">Быстрое подключение к существующим системам</p>
                </div>
            </div>
        </div>

       
        </div>
    </div>
</main>
{% endblock %}